{% extends "base.html" %}
{% block title %}
Главная страница
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<a href="/create-category/">Создать новую категорию</a>
	</div>
	<div>
		<h1>Список существующих категорий</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество досок: {{item.boards_count()}}</span>
			<a href="/boards/?id={{item.id}}">Показать доски</a>
        </li>
        {% endfor %}
	</div>
{% endblock %}